// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
input{
    height: 47px;
    width: 80%;
    border: solid black 2px;
    margin-right: 10px;
    margin-bottom: 3px;
}
.btn{
    border-radius: 0 !important;
    height: 47px !important;
    width: 100px;
}
.active{
    border-bottom: 1px solid #000;
    border-radius: 0 !important;
    background-color: white !important;
}
.nav-link{
    color: black !important;
}
.pagination {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 40%;
    border: 1px solid grey;
    padding: 10px;
}
.pagination a {
    padding: 8px 16px;
}